@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.presentation {
    background: brown;
    width: 100%;
    height: 100vh;
}

.presentation .presentation-shadow {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.presentation .presentation-container {
    position: relative;
    width: 80%;
    margin: auto;
    height: 100%;
}

.presentation .presentation-container .presentation-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.presentation .presentation-container .presentation-content .presentation-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

